@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dashboard-page {
  height: 100%;
}

mat-toolbar {
  z-index: 100;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 10px;
}