{
  "$schema": "https://www.krakend.io/schema/v3.json",
  "version": 3,
  "extra_config": {
    "security/cors": {
      "allow_origins": [
        "*"
      ]
    }    
  },
  "timeout":  "5s",
  "cache_ttl":  {{ .config.cache_ttl }},
  "output_encoding": "json",
  "name": "rubber-duck-tools",
  "port": {{ .config.port }},
  "endpoints": [
    {
      "endpoint": "/v1/login",
      "input_query_strings": ["code"],
      "method": "GET",
      "output_encoding": "json",
      "backend": [
        {
          "url_pattern": "/auth/getToken",
          "encoding": "json",
          "method": "GET",
          "host": ["http://auth-service:3000"]
        }
      ]
    },
    {
      "endpoint": "/protected",
      "extra_config": {
        "auth/validator": {{ marshal .auth }}
      },
      "backend": [
        {
          "host": ["http://localhost:8080"],
          "url_pattern": "/__health"
        }
      ]
    },
    {
      "endpoint": "/preferences",
      "method": "GET",
      "output_encoding": "json",
      "extra_config": {
        "auth/validator": {{ marshal .auth }}
      },
      "backend": [
        {
          "host": ["http://user-service:3000"],
          "url_pattern": "/preference/{JWT.sub}",
          "method": "GET",
          "encoding": "json"
        }
      ]
    },
    {
      "endpoint": "/preferences",
      "method": "POST",
      "output_encoding": "json",
      "extra_config": {
        "auth/validator": {{ marshal .auth }}
      },
      "backend": [
        {
          "host": ["http://user-service:3000"],
          "url_pattern": "/preference/{JWT.sub}",
          "method": "POST",
          "encoding": "json"
        }
      ]
    }
  ]
}
